* {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
}

html, body, #root {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover, a:visited:hover {
  color: darkgray;
}

.link {
  color: grey;
}

.active {
  color: darkgray;
}